{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 88,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/frontend/styles/globals.css"
}
